section {
  background-color: darkgray;
}
.write, .img{
  width: 50%;
  padding: 20px 0;
}
button {
  background-color: blue;
  color: white;
  border-radius: 8px;
  border: none;
}
button{
  width: 90px;
  height: 25px;
}
h1, p{
  padding: 20px 0;
}
